:root {
    --primary-green: #0f5132;
    --secondary-green: #198754;
    --gold: #d4af37;
    --cream:#fefcf3;
    --dark: #1b1b1b; 
    /* --myfont:50px; */
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  .container {
   /* width: 80%;
   background: var(--primary-green); */
  
  }